# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files
*.js
*.js.map
*.d.ts

# Ignore build and output directories
/dist/
/out/
/.tscache/

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files
*.log

# Ignore package-lock.json for npm users
package-lock.json

# Ignore yarn.lock for Yarn users
yarn.lock

# Ignore Visual Studio Code settings
.vscode/

# Ignore editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows thumbnail files
Thumbs.db
ehthumbs.db

# Ignore user-specific files
npm-debug.log
yarn-error.log

# Ignore IDE and text editor files
.idea/
*.swp
*.swo
*.swn

# Ignore test and coverage directories
/coverage/
/.nyc_output/
